nav {
    background-color: rgb(69,128,199);
    height: 100px;
    margin-bottom: 20px;
}
nav .brand-logo {
    font-size: 60px;
    margin-top: 15px;
}
.scrape:hover, .saved:hover, .back:hover {
    background-color: rgb(252, 127, 86);
}
button:active {
    background-color: rgb(252, 127, 86);
}
.btn:hover {
    background-color: rgb(252, 127, 86);
}
/* I have to be very specific to change materializes style */
 ul li a.btn-large {
    margin-top: 20px;
    margin-right: 30px;
    background-color: rgb(255, 68, 0);
}
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: rgb(2,0,24);
}
main {
flex: 1 0 auto;
}
a h2{
    font-size: 30px;
}
.btn {
    background-color: rgb(255, 68, 0);
}
#notesModal {
    min-height: 400px;
}
#modalHeader {
    margin: 20px 0px 30px 0px;
}
#closeModal {
    margin-right: 10px;
}
.eachNote {
    padding: 15px 0px;
    border: 1px gray solid;
    margin: 5px auto;
}
.deleteNote {
    margin-right: 10px;
    background-color: rgb(255, 68, 0);
}
.deleteNote i {
    margin-top: 5px;
    color: white;
}
.remove {
    margin-right: 20px;
}
.page-footer {
    background-color: rgb(255,71,0);
}